{% extends 'base_degustation.html.twig' %}

{% block body %}
    <div class="fiche-grid">
        <h1 class='titreFiche animate pop2'>{{ user.firstname }}</h1>
        <img src="{{ vich_uploader_asset(profil, 'profilFile') }}" class="img-profil animate pop">
        <h1 class='titreFiche animate blur'>Vous êtes {{ profil.name }}</h1>
        <p class="animate blur description">{{ profil.description }}</p>
        <div class=></div>
        <a href="{{ path('app_vin_index') }}" class='grid-end'>
            Je<br> crée<br> mon <br>vin
        <img src={{ asset('build/images/Wine-Glass-alone.png') }} class='wineglass-shape'></a>
    </div>
{% endblock %}
