{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Enregistrement{% endblock %}

{% block body %}
<div class="carre">
    <h1 class="connexion">Nouveau compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: false,
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: false,
        }) }}
        {{ form_row(registrationForm.name, {
            label: false,
        }) }}
        {{ form_row(registrationForm.firstname, {
            label: false,
        }) }}
        {{ form_row(registrationForm.street, {
            label: false,
        }) }}
        {{ form_row(registrationForm.postalcode, {
            label: false,
        }) }}
        
        {{ form_row(registrationForm.city, {
            label: false,
        }) }}
        {{ form_row(registrationForm.birthdate, {
            label: false,
        }) }}
        {{ form_row(registrationForm.phone, {
            label: false,
        }) }}

        <button type="submit" class="bouton">Enregistrement</button>
    {{ form_end(registrationForm) }} 
</div> 
{% endblock %}