{% extends 'base_recette.html.twig' %}

{% block title %} {{ parent() }} - Nouvelle recette {% endblock %}

{% block body %}
        <h1 class="vgh1Recette">Créez votre vin!</h1>
         {% for flashError in app.flashes('error') %}
                    <div class="vgFlash">
                        <p>{{ flashError }}</p>
                    </div>
                {% endfor %}

                    {{ form_start(form) }}
                        <div class="vgVisiteurDivForm" id="vgFormSection">
                            <p class="form-label vgblanc">Nom de votre recette</p>
                            <div class="vgFormField"> {{ form_widget(form.nom) }} </div>


                            <p class="form-label vgblanc"> Cépage de base</p>
                                <div class="vgSelect">{{ form_widget(form.cepage1) }}</div>
                            <p class="form-label vgblanc">Ajouter une quantité</p>
                                <div class="vgFormField">{{ form_widget(form.quantite1) }} </div>


                            <p class="form-label vgblanc">Cépage d'ajustement</p>
                                <div class="vgSelect">{{ form_widget(form.cepage2) }} </div>
                            <p class="form-label vgblanc">Ajouter une quantité</p>
                               <div class="vgFormField"> {{ form_widget(form.quantite2) }} </div>

<i class="fa-solid fa-plus vgIPlus1 vgButtonVinPlus" onclick="displayVin3(); displayButtonPlus3()"></i>

                            <p class="form-label vgIdVin3 vgblanc">Cépage supplémentaire</p>
                            <div class="vgSelect vgIdVin3">{{ form_widget(form.cepage3) }}</div>
                            <p class="form-label vgIdVin3 vgblanc">Ajouter une quantité</p>
                            <div class="vgIdVin3 vgFormField">{{ form_widget(form.quantite3) }}</div>

<i class="fa-solid fa-plus vgIPlus2 vgButtonVinPlus vgIdVin3" onclick="displayVin4(); displayButtonPlus4()"></i>
                            {# here 2 #}
                            <p class="form-label vgIdVin4 vgblanc">Cépage supplémentaire</p>
                                <div class="vgSelect vgIdVin4"> {{ form_widget(form.cepage4) }} </div>
                            <p class="form-label vgIdVin4 vgblanc">Ajouter une quantité</p>
                                <div class="vgIdVin4 vgFormField">{{ form_widget(form.quantite4) }}</div>

                            <div class="vgDivButtonSearch">
                            {{ form_widget(form) }}
                            <button type="submit" class="submit vgButtonSearch vgblanc">Ajouter votre recette</button>
                </div>
            </div>


{{ form_end(form, {'render_rest': false}) }}


{# gestion des boutons  #}
<script>
    function displayVin3() {
        let formElements = document.querySelectorAll("#vgFormSection .vgIdVin3");
        formElements.forEach(function (element) {
            element.classList.toggle("vgShowVin3");
        });

    }

    function displayVin4() {
        let formElements = document.querySelectorAll("#vgFormSection .vgIdVin4");
        formElements.forEach(function (element) {
            element.classList.toggle("vgShowVin4");
        });
    }

    function displayButtonPlus3(){
        document.querySelector("#vgFormSection .vgIPlus1").classList.toggle("fa-minus");
        document.querySelector("#vgFormSection .vgIPlus1").classList.toggle("fa-plus");
    }

    function displayButtonPlus4(){
            document.querySelector("#vgFormSection .vgIPlus2").classList.toggle("fa-minus");
            document.querySelector("#vgFormSection .vgIPlus2").classList.toggle("fa-plus");
        }



</script>

{% endblock %}
