{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Atelier {% endblock title %}

{% block body %}
<h2 class="nomanimation">{{ animation.nom }}</h2>
<div class="showatelier">
    <div class="phototxtcta">
      <div class="image-container">
        <img src="{{ vich_uploader_asset(animation) }}" alt="{{ animation.nom }}" class="img">
      </div>
      <div class="description-container">
        <p class="desc">{{ animation.resume }}</p>
        <p class="prix">Prix : {{ animation.prix }} €</p>
        <div class="showcta">
                  <div class="nombrepersonne">
                    <form action="{{path ('add', {'id': animation.id})}}" method="post">
                        <label for="date">Date atelier : </label>
                        <select id="date" name="date" required>
                            <option disabled selected value="">Sélectionner</option>
                            <option value="1">12/06/2023</option>
                            <option value="2">15/07/2023</option>
                            <option value="3">10/08/2023</option>
                            <option value="4">25/09/2023</option>
                        </select><br>
                        <label for="date">Réserver un atelier : </label>
                        <select id="date" name="date" required>
                          <option disabled selected value="">Sélectionner</option>
                          {% for atelier in animation.ateliers %}
                              <option value="{{ atelier.id }}">{{ atelier.address }} - {{ atelier.horaire }}</option>
                          {% endfor %}
                      </select><br>
                    </div>
                    <div class="nombrepersonne">
                        <label for="adults">Nombre de personnes :</label>
                            <select id="nbPersonnes" name="nbPersonnes" required>
                                <option disabled selected value="">Sélectionner</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                   </div>
                        <button class="cta" type="submit">Je réserve mon atelier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
