{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Visiteur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.title }}</td>
                <td>{{ blog.date ? blog.date|date('Y-m-d') : '' }}</td>
                <td>{{ blog.description }}</td>
                <td>{{ blog.text }}</td>
                <td><img src="{{ vich_uploader_asset(blog) }}" alt="{{ blog.title }}"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
