{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Votre panier !{% endblock %}


{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet" >
<link rel="stylesheet" href="/build/app.css">

{% if items is empty %}
  <div class="card container-sm">
    <h5 class="card-header">Votre panier Inovin est vide</h5>
    <div class="card-body">
        <p class="card-text">Votre panier est à votre service. Donnez-lui un but : remplissez-le de courses, et plus encore.
        Continuez les achats sur <strong>Inovin</strong>, apprenez en plus à propos de Promotions et Ventes Flash, ou visitez votre Liste d'envies.</p>
    </div>
  </div>
{% else %}
  <table class=" container-sm sk-table">
    <thead>
      <tr>
        <th colspan="2" class="text-uppercase sk-cell">Produit</th>
        <th class="text-uppercase">Prix</th>
        <th class="text-uppercase">Quantité</th>
        <th class="text-uppercase">Total</th>
        <th class="text-uppercase">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      <tr>
        <td class="sk-cell">{{ item.product.nom }}</td>
        <td><img src="{{ vich_uploader_asset(item.product) }}" alt="{{ item.product.nom }}"></td>
        <td>{{ item.product.prix }}</td>
        <td>{{ item.quantity}}</td>
        <td>{{ item.product.prix * item.quantity}} €</td>
        <td><a href="{{ path('panier_remove', {'id': item.product.id}) }}" class="btn sk-button-card" title="Supprimer"><i class="bi bi-trash"></i></a></td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3" class="text-end text-uppercase">Total:</td>
      <td>{{ total }} €</td>
      <td></td>
    </tr>
    </tfoot>
  </table> 
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
{% endblock %}