{% block content %}
{% include "_popUpMessage.html.twig" %}
<nav>
    <img class="img-logo" src="{{ asset('build/images/Logo.png') }}">
    <ul class ="ulnavpad liennavtoggle" id="navMenu">
        <li class="linav marginLinks"><a href="{{ path('app_home') }}" class="liennav">ACCUEIL</a></li>
        <li class="linav marginLinks"><a href="{{ path('app_animations_index') }}" class="liennav">ATELIERS</a></li>
        <li class="linav marginLinks"><a href="#" class="liennav">VINOTHÈQUE</a>
            <ul class="listederoulante">
                <li><a href="#" class="liennav">Le quizz</a></li>
                <li><a href="#" class="liennav">Lexique</a></li>
                <li><a href="#" class="liennav">La carte des vins</a></li>
                <li><a href="{{ path('app_blog_visiteur') }}" class="liennav">Blog</a></li>
                <li><a href="{{ path('app_faq_visiteur') }}" class="liennav">FAQ</a></li>
            </ul>
        </li>
        <li><a href="{{ path ('shop_index')}}" class="liennav marginLinks">BOUTIQUE</a></li>
        <li><a class="contactModal liennav marginLinks">CONTACT</a></li>
        {% if app.user == false %}
        <li class="linav marginLinks">
            <a href="/login" class="liennav">CONNEXION</a>
        </li>
        {% endif %}
        <li class="linav marginpanier"><a href="{{ path ('panier_index')}}"><img src="{{ asset('build/images/panier.png') }}" style="width: 30px; height: 30px;"></a></li>

        <li class="linav marginLinks">
            <div class="navbar">
                <div class="dropdown">
                    {% if app.user == true %}
                        <button class="dropbtn">
                            {{ app.user.firstname }}
                        </button>
                    <div class="dropdown-content ">
                        <a href="/user/profil">Profil</a>
                        <a href="/logout">Déconnexion</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>









<div class="burgerBars" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>










<script>
function myFunction(x) {
  x.classList.toggle("change");
  document.getElementById("navMenu").classList.toggle("liennavtoggle")
}
</script>

</nav>
{% endblock %}


































{# NE PLUS UTILISER #}


{# <ul class="navMenu ulDisplayedToggle" id="navMenu">
    <li><a href="index.html" style="color:black;">Home</a> </li>
    <li><a href="skills.html" style="color:black;">Compétences</a> </li>
    <li><a href="experiences.html" style="color:black;">Expériences</a> </li>
    <li><a href="valeurs.html" style="color:black;">Valeurs</a> </li>
    <li><a href="monProjet.html" style="color:black;">Projet</a> </li>
    <li></li>
</ul> #}

{# // document.getElementById("navMenu").classList.toggle("ulDisplayedToggle") #}




{# Si tu mets liennavtoggle dans l'ul ça l'enlève, mais aussi quand c'est en grand #}






 {# <i class="fa fa-bars" id="burgerMenuIcon" onclick="onClickMenu()"></i> #}
            {# <ul class="navMenu ulDisplayedOrNot" id="navMenu">
                <li><a href="index.html" style="color:black;">Home</a> </li>
                <li><a href="skills.html" style="color:black;">Compétences</a> </li>
                <li><a href="experiences.html" style="color:black;">Expériences</a> </li>
                <li><a href="valeurs.html" style="color:black;">Valeurs</a> </li>
                <li><a href="monProjet.html" style="color:black;">Projet</a> </li>
                <li></li>
            </ul> #}

{# <script>
function onClickMenu() {
    document.getElementById("navMenu").classList.toggle("ulDisplayedOrNot");
}
</script> #}


{# ICI NON PLUS #}
