{% block content %}
<nav>
    <img class="img-logo" src="{{ asset('build/images/Logo.png') }}" style="width: 10%;">
    <ul>
        <li><a href="{{ path('app_home') }}" class="liennav">ACCUEIL</a></li>
        <li><a href="{{ path('app_animations_index') }}" class="liennav">ATELIERS</a></li>
        <li><a href="#" class="liennav">VIN/VIN</a>
            <ul class="listederoulante">
                <li><a href="#" class="liennav">Quizz du vin</a></li>
                <li><a href="#" class="liennav">le lexique du vin</a></li>
                <li><a href="#" class="liennav">La carte des vins</a></li>
                <li><a href="#" class="liennav">Blog</a></li>
            </ul>
        </li>
        <li><a href="{{ path ('shop_index')}}" class="liennav">BOUTIQUE</a></li>
        <li><a href="" class="liennav">CONTACT</a>
            <ul class="listederoulante">
            <li><a href="#" class="liennav">Notre histoire</a></li>
            <li><a href="{{ path ('app_faq_visiteur')}}" class="liennav">FAQ</a></li>
        </ul>
        </li>
        <li><a href="{{ path ('panier_index')}}" class="liennav">PANIER</a></li>
        {% if app.user == false %}
        <li>
            <a href="/login" class="liennav">CONNEXION</a>
        </li>
        {% endif %}
        <li>
            <div class="navbar">
                <div class="dropdown">
                    {% if app.user == true %}
                        <button class="dropbtn">
                            {{ app.user.firstname }}
                        </button>
                    <div class="dropdown-content">
                        <a href="/user/profil">Profil</a>
                        <a href="/logout">Déconnexion</a>
                    </div>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>

{% endblock %}
