{% block content %}
<nav>
    <img class="img-logo" src="{{ asset('build/images/Logo.png') }}" style="width: 10%;">
    <ul>
        <li class="linav"><a href="{{ path('app_home') }}" class="liennav">ACCUEIL</a></li>
        <li class="linav"><a href="{{ path('app_animations_index') }}" class="liennav">ATELIERS</a></li>
        <li class="linav" style="position: relative;"><a href="#" class="liennav">VINOTHÈQUE</a>
            <ul class="listederoulante">
                <li class="linav"><a href="#" class="liennav">Le quizz</a></li>
                <li class="linav"><a href="#" class="liennav">Lexique</a></li>
                <li class="linav"><a href="#" class="liennav">La carte des vins</a></li>
                <li class="linav"><a href="#" class="liennav">Blog</a></li>
                <li class="linav"><a href="#" class="liennav">FAQ</a></li>
            </ul>
        </li>
        <li class="linav"><a href="{{ path ('shop_index')}}" class="liennav">BOUTIQUE</a></li>
        <li class="linav"><a href="" class="liennav">CONTACT</a></li>
        {% if app.user == false %}
        <li class="linav">
            <a href="/login" class="liennav">CONNEXION</a>
        </li>
        {% endif %}
        <li class="linav"><a href="{{ path ('panier_index')}}"><img src="{{ asset('build/images/panier.png') }}" style="width: 30px; height: 30px;"></a></li>

        <li class="linav">
            <div class="navbar">
                <div class="dropdown">
                    {% if app.user == true %}
                        <button class="dropbtn">
                            {{ app.user.firstname }}
                        </button>
                    <div class="dropdown-content">
                        <a href="/user/profil">Profil</a>
                        <a href="/logout">Déconnexion</a>
                    </div>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>
{% endblock %}
