{% apply inline_css (source('@styles/ficheEmail.scss'))%}
{% block stylesheets %}
{% endblock %}

{% block header %}
<div class="fiche-email">
    <div class="titre-fiche">Vos vins de prédilection</div>
{% endblock %}

{% block body %}

    <div class="fiche-grid">
      <div class="glass">
        <h1 class='titreFiche animate pop2'>{{ user.firstname }}, vous aimez les vins {{ profil.name }} !</h1>
      </div>
        <img src="{{ vich_uploader_asset(profil, 'profilFile') }}" class="img-profil animate pop">

        <div class="container-lm">
        <p class="description">{{ profil.description }}</p>
      </div>
        <div class="titre-arome">Vos arômes de prédilection</div>
        <div class="aroma-container">
            {% for arome in aromes %}
                <div class="cta">{{ arome }}</div>
            {% endfor %}
        </div>

        <div class='grid-end'>

          <canvas id="pie-chart"></canvas>
        </div>
        </div>
    </div>
{% endblock %}

{% endapply %}
