{% extends 'base_degustation.html.twig' %}

{% block title %} {{ parent() }} - Fiche de dégustation {% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
{{ form_start(form) }}
<div class="ss-titre">L'OEIL</div>
<div class="cardcontainer">
  <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <div class="checkbox-container">
          <p class="form-label">{{ form_label(form.couleur, null, {'label_attr': {'class': 'couleur-checkbox'}}) }}</p>
          <div class="checkbox-custom">
              {% for choice in form.couleur %}
                  <label class="checkbox-label">
                      {{ form_widget(choice, {'attr': {'class': 'checkbox-input ' ~ choice.vars['attr']['class']} }) }}
                      <span class="checkbox-custom-indicator"></span>
                      {{ choice.vars.label }}
                  </label>
                 
              {% endfor %}
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <p class="form-label">Limpidité</p>
        <div class="vertical-range">
          <input type="range" min="1" max="4" value="1" class="custom-range">
          <div class="labels">
            <span class="label">Floue</span>
            <span class="label">Trouble</span>
            <span class="label">Voilé</span>
            <span class="label">Limpide</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <div class="checkbox-container">
          <p class="form-label">
            {{ form_label(form.fluidite, null, {'label_attr': {'class': 'fludity-checkbox'}}) }}
          </p>
          <div class="checkbox-custom">
            {% for choice in form.fluidite %}
              <label class="checkbox-label">
                {{ form_widget(choice, {'attr': {'class': 'checkbox-input ' ~ choice.vars.value}, 'name': form.fluidite.vars.full_name ~ '[]', 'value': choice.vars.value, 'checked': choice.vars.checked}) }}
                <span class="checkbox-custom-indicator"></span>
                {{ choice.vars.label }}
              </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-title">
    <div class="ss-titre">LE NEZ</div>
    <p class="arome-label">Arômes</p>
  </div>
  <div class="form-column">
    <div class="form-row">
        <div class="form-group">
            <div class="checkbox-container">
              <select id="{{ form.arome.vars.id }}-fruite" name="{{ form.arome.vars.full_name }}" class="aroma-select">
                    <option value="" disabled selected>{{ form.arome.vars.choices['Fruité'].label|trans }}</option>
                    {% for choice in form.arome.vars.choices['Fruité'].choices %}
                        {% set isSelected = choice.value == form.arome.vars.value %}
                        <option value="{{ choice.value }}" {% if isSelected %}selected{% endif %}>
                            {{ choice.label|trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <div class="checkbox-container">
                <select id="{{ form.arome.vars.id }}-floral" name="{{ form.arome.vars.full_name }}" class="aroma-select">
                    <option value="" disabled selected>{{ form.arome.vars.choices['Floral'].label|trans }}</option>
                    {% for choice in form.arome.vars.choices['Floral'].choices %}
                        {% set isSelected = choice.value == form.arome.vars.value %}
                        <option value="{{ choice.value }}" {% if isSelected %}selected{% endif %}>
                            {{ choice.label|trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="form-column">
    <div class="form-row">
        <div class="form-group">
            <div class="checkbox-container">
                <select id="{{ form.arome.vars.id }}-animal" name="{{ form.arome.vars.full_name }}" class="aroma-select">
                    <option value="" disabled selected>{{ form.arome.vars.choices['Animal'].label|trans }}</option>
                    {% for choice in form.arome.vars.choices['Animal'].choices %}
                        {% set isSelected = choice.value == form.arome.vars.value %}
                        <option value="{{ choice.value }}" {% if isSelected %}selected{% endif %}>
                            {{ choice.label|trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <div class="checkbox-container">
                <select id="{{ form.arome.vars.id }}-vegetal" name="{{ form.arome.vars.full_name }}" class="aroma-select">
                    <option value="" disabled selected>{{ form.arome.vars.choices['Végétal'].label|trans }}</option>
                    {% for choice in form.arome.vars.choices['Végétal'].choices %}
                        {% set isSelected = choice.value == form.arome.vars.value %}
                        <option value="{{ choice.value }}" {% if isSelected %}selected{% endif %}>
                            {{ choice.label|trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="form-column">
    <div class="form-row">
        <div class="form-group">
            <div class="checkbox-container">
                <select id="{{ form.arome.vars.id }}-epice" name="{{ form.arome.vars.full_name }}" class="aroma-select">
                    <option value="" disabled selected>{{ form.arome.vars.choices['Épicé'].label|trans }}</option>
                    {% for choice in form.arome.vars.choices['Épicé'].choices %}
                        {% set isSelected = choice.value == form.arome.vars.value %}
                        <option value="{{ choice.value }}" {% if isSelected %}selected{% endif %}>
                            {{ choice.label|trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <div class="checkbox-container">
                <select id="{{ form.arome.vars.id }}-marin" name="{{ form.arome.vars.full_name }}" class="aroma-select">
                    <option value="" disabled selected>{{ form.arome.vars.choices['Marin'].label|trans }}</option>
                    {% for choice in form.arome.vars.choices['Marin'].choices %}
                        {% set isSelected = choice.value == form.arome.vars.value %}
                        <option value="{{ choice.value }}" {% if isSelected %}selected{% endif %}>
                            {{ choice.label|trans }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

<div class="emotions-container emotions-row">
    <ul id="selected-aromas" class="selected-aromas"></ul>
</div>

  <div class="form-title">
    <div class="ss-titre">LA BOUCHE</div>
  </div>
  
  <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <p class="form-label">Persistance</p>
        <div class="vertical-range">
          <input type="range" min="1" max="4" value="1" class="custom-range">
          <div class="labels">
            <span class="label">Durable</span>
            <span class="label">Longue</span>
            <span class="label">Moyenne</span>
            <span class="label">Courte</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <div class="checkbox-container">
          <p class="form-label">
            {{ form_label(form.structure, null, {'label_attr': {'class': 'fludity-checkbox'}}) }}
          </p>
          {% for choice in form.structure %}
            <label class="checkbox-label">
              {{ form_widget(choice, {'attr': {'class': 'checkbox-custom ' ~ choice.vars.value}}) }}
              <span class="checkbox-custom-indicator"></span>
              {{ choice.vars.label }}
            </label>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
  
<div class="form-group">
  {{ form_label(form.matiere, 'Matière', {'label_attr': {'class': 'form-label'}}) }}
  <div class="cta-container">
    {% for choice in form.matiere %}
      <button class="cta matiere" name="{{ form.matiere.vars.full_name }}" value="{{ choice.vars.value }}" onclick="selectCTA(event, 'matiere')">
        {{ form_widget(choice, {'attr': {'class': 'emotion-cta', 'data-value': choice.vars.value}})}}
        {{ choice.vars.label|default(choice.vars.value) }}
      </button>
    {% endfor %}
  </div>
</div>

  
<div class="form-title">
  <div class="ss-titre">LES ÉMOTIONS</div>
</div>
<div class="emotions-container emotions-row">
  {% for choice in form.emotion %}
  <div class="emotion-item">
    <label class="emotion-label emotion-title-label">
      <img src="{{ asset('build/images/' ~ choice.vars.value ~ '.png') }}" alt="{{ choice.vars.label }}" class="img-emotion" />
      <br>
      {{ form_widget(choice, {'attr': {'class': 'emotion-cta', 'data-value': choice.vars.value}}) }}
      <span class="emotion-custom-indicator"></span>
      <span class="emotion-label-text">{{ choice.vars.label }}</span>
    </label>
  </div>
  {% endfor %}
</div>

  <div class="form-title">
    <div class="ss-titre">ÉVALUATION</div>
    {{ form_widget(form.note) }}
  </div>

<div class="form-submit">
    <button type="submit" class="submit">Enregistrer fiche</button>
</div>

{{ form_end(form) }}
  <script>
    const aromaSelects = document.querySelectorAll('.aroma-select');
    aromaSelects.forEach(select => {
      select.addEventListener('change', (event) => {
        const selectedAroma = event.target.value;
        const selectedAromaLabel = event.target.options[event.target.selectedIndex].text;
        if (selectedAroma) {
          const selectedList = document.getElementById('selected-aromas');
          const listItem = document.createElement('li');
          listItem.textContent = selectedAromaLabel;
          selectedList.appendChild(listItem);
    
          // Réinitialise le sélecteur à son placeholder d'origine
          event.target.selectedIndex = 0;
        }
      });
    });    
  </script>
  {% endblock %}
  